<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>

    <!--
        computed 与 watch：
        1. computed 能完成的功能，watch都可以完成
        2. watch可以完成的功能， computed 不一定都能完成， 例如：watch可以完成异步操作

        两个重要的小原则：
        1. 所有被Vue管理的函数，最好写成普通函数。这样this的指向才是vm 或 组件实例对象
        2. 所有不被Vue所管理的函数（定时器的回调函数，ajax的回调函数等，Promise的回调函数）， 最好写成箭头函数。
        这样this的指向才是vm 或 组件实例对象
     -->

    <div id="root">
        first name:<input type="text" v-model="firstName"> <br /><br />
        last name:<input type="text" v-model="lastName"> <br /><br />
        full name:<span></span> <br /><br />
    </div>

    <script type="text/javascript">
        const vm = new Vue({
            el: '#root',
            data: {
                firstName: 'pig',
                lastName: 'asso',
                fullName:'pig-asso'
            },
            watch:{
                firstName(newValue){
                    this.fullName = newValue + '-' + this.lastName
                },
                lastName(newValue) {
                    213213213213
                    this.fullName = this.firstName + '-' + newValue
                }
            },
        })

    </script>
</body>

</html>