* {
    margin:0;
    padding: 0;
}

.w {
    width:1200px;
    margin:auto;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

.header {
    height: 42px;
    /* 注意此地方会层叠w中的margin */
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float:left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color:#bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* button 默认有个边框，需要手动去除 */
    border:0;
    background-image: url(images/btn.png);
}

.user{
    float:right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}

.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    background:url(images/banner2.png) no-repeat top center;
}

.subnav {
    width: 190px;
    height: 421px;
    background-color: rgba(0,0,0,0.3);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {
    font-size: 14px;
    color:#fff;
}

.subnav ul li a span {
    float: right;
    
}

